*{
 padding: 0;
 margin: 0;
}
.container{
    background-color: white;
   margin: 30px 50px 0px 50px;
}
.title{
    display: flex;
    justify-content: space-around;
    padding-top: 30px
}
.title1{
    
  margin-top: -15px;
}
.title4{
    border-bottom: 1px solid #525151;
    padding-left: 0px;
    padding-right: 170px;
    padding-bottom: 0;
    height: 20px;
    text-align:end;
    color: #525151;
}
.title5,.title6{
    color: #231C4B;
}
#icon{
    width: 40px;
    height: 40px;
    margin-top: 4px;
}
.title7{
 margin-top: -15px;
}
.main{
    display: flex;
    justify-content:cente;
    margin-left: 410px;
    margin-top: 130px;
}
.text{
    color: #231C4B;
    position: absolute;
    left: 10px;
    margin-left: 150px;
   
}
.q{
    color: #4D4D4D;
}
.image1{
    width: 700px;
}
.image1 img{
   width: 100%;
    margin-left: 150px;
    margin-top: -50px;
}
.text h4{
    color: #2EA3F2;
}
.text span{
    background-color:#E4E4E4;
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.text h1{
    font-size: 55px;
}
.pr{
    margin-top: 180px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #EEE;
}
.p1{
    border-left: 1px solid black;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.alp h3{
    color: #2EA3F2;
}
.u{
    color: #2EA3F2;
}
.p1 h1{
color: #2EA3F2;
}
.pic{
    width: 20px;
    height: 20px;
    
}
.im img{
    width: 430px;
    height:460px;
    padding-left: 70px; 
}
.many{
    display: flex;
    justify-content: center;
    margin-bottom:100px;
}
.t{
    color: #2EA3F2;
}
.str{
    margin-left: 15px;
}
.many span{
    color: #2EA3F2;
    background-color:#E4E4E4;
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 0px;
}
.alp{
    padding-left: 70px; 
}
.width{
    width: 100%;
}
.width img{
    width: 100%;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, linear-gradient(90deg, #12527D -3.99%, #2EA3F2 110.6%);

}
.xoli{
    margin-top: -140px;
    color:white;
    display: flex;
    justify-content:space-around;
}
.w2 span {
    background-color: #2EA3F2;
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px;

}
.w{
    font-size: 1.7em;
    margin-top: -18px;
}
.words{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}
.words2{
 padding-left: 25px;
border-left: 2px solid grey;
height: 135px;
color: #414141;
}
.words2 span{
    background-color:lightgray;
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px; 
    
}
.words1 h1{
    color: #2EA3F2;
}
.foto{
    display: flex;
  justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
}
.re{
    margin-top: -12px;
    background-color: #EEE;
    padding-bottom: 14px;
    padding-left: 35px;
    padding-top: 30px;
    font-size: 20px;
    width: 77%;
}
.er{
    margin-top: -4px;
    background-color: #EEE;
    padding-bottom: 12px;
    padding-left: 35px;
    font-size: 11px;
    width: 77%;

}
.foto img{
    width: 90%;
}
#ok{
    margin-left: 600px;
    margin-top: 20px;
}
.elem{
    margin-top: 110px;
    margin-bottom: 110px;
    display: flex;
    justify-content: space-around;
    
}
.elem1{
    color: #4D4D4D;
font-family: Gemunu Libre;
font-size: 15px;
}
.elem2{
    color: #2EA3F2;
    font-family: Finger Paint;
    font-size: 15px;
}
.elem3{
    color: #4D4D4D;
font-family: JejuMyeongjo;
font-size: 15px;
}
.elem4{
    color:#4D4D4D;
font-family: Caveat Brush;
font-size:15px;
}
.elem5{
    color:#4D4D4D;
font-family: Graduate;
font-size: 15px;
}
.end{
display: flex;justify-content: space-around;
padding-bottom: 70px;
padding-top: 190px;
margin-bottom: 50px;
border-bottom: 2px solid gray;
background-color:#EEE;

}
.end4 h4{
    font-size: 20px;
    margin-top: 30px;
}
.end4 span{
    border: 1px solid black;
    border-radius: 6px 6px 6px 6px ;
    margin-right: 1px;
    padding: 8px 55px 8px 30px;
}
.n{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #EEE;
    margin-top: -50px;
}
.blue{
    color:#2EA3F2
}
.end1 i{
    color:#2EA3F2
}
.fon{
    color: #414141;

font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 35px; /* 194.444% */
letter-spacing: 0.36px;
}
